.header-text {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  cursor: default;
}

.text {
  color: #dedffa;
  font-size: 50px;
  font-weight: 400;
}
.text-highlight {
  color: #7d56f4;
  font-size: 50px;
  font-weight: 500;
}
