.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.sidebar {
  flex: 0 0 250px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  height: 60vh;
}
.text-title {
  color: #5c78d2;
  background: none;
  font-size: larger;
  font-weight: 400;
  margin-bottom: 20px;
}
.filters {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  background: none;
}
.tasks-category {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 15px;
  font-weight: 400;
  padding: auto 6px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
  text-align: left;
}
.tasks-category.active {
  border-radius: 5px;
  background-color: #333;
  width: 150px;
  height: 25px;
  padding: auto 6px;
}
.main {
  flex: 0 0 400px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tasks {
  background: none;
  align-items: center;
  padding: auto 10px;
}
.task-default-text {
  background: none;
  color: #e0e0e0;
  padding: 10px 10px;
  text-align: center;
}
.task-btn {
  background: none;
}
.add-task {
  color: #e0e0e0;
  background-color: #5c78d2;
  border: none;
  height: 36px;
  width: 100px;
  cursor: pointer;
  border-radius: 18px;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    flex: 0 0 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .main {
    flex: 0 0 80%;
    height: 60vh;
  }
}

.task-item {
  display: flex;
  align-items: center;
  background-color: #5c78d2;
  color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  cursor: pointer;
  width: 100%; /* Ensure the task item takes full width */
}

.task-content {
  margin-left: 10px;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1; /* Allow the task content to take up the remaining space */
}
.task-content-text {
  background: none;
}
.task-name {
  margin: 0;
  padding: 0;
  background: none;
  color: #e0e0e0;
}

.task-desc {
  margin: 0;
  padding: 0;
  background: none;
  color: #e0e0e0;
}

.task-item.completed .task-name,
.task-item.completed .task-desc {
  text-decoration: line-through;
}

.task-actions {
  display: flex;
  background: none;
  align-items: center;
  margin-left: auto; /* Ensure the actions are aligned to the right */
}

.task-actions button {
  background: none;
  border: none;
  color: #e0e0e0;
  cursor: pointer;
  margin-left: 10px;
}
FontAwesomeIcon {
  background: none;
}
.icon {
  background: none;
  background-color: transparent;
}
